<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="wishlist.css">
    <script src="https://kit.fontawesome.com/b8a915db41.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="image">
        <div id="a1">WishList<i class="fa-sharp fa-solid fa-heart"></i></div>
    </div>
    <div class="main">
        <table>
        <% products.forEach(product => { %>
                <tr>
                    <% let text = product.cart === true? "Added" : "Add"; %>
                    <th><a href="/product/<%=product.id%>"><img src="<%=product.image.img1%>" id="img" alt="Loading..."></a></th>
                    <th><%= product.name %></th>
                    
                    <td class="flexing" ><b>$ <%= product.price %></b></td>
                    <td class="flexing" ><a href="/wish/<%= product.id %>/add2cart" style="<%= product.cart ? 'background-color: green;' : '' %>" id="btn"><%= text %> To Cart</a></td>
                    <td class="flexing" id="trash"><a href="/wish/<%=product.id%>"><i class="fa-solid fa-trash"></i></a></td>
                   
                </tr>
                <% }) %>
            </table>
    </div>
</body>

</html>